<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.ShoppesMapper">
  <resultMap id="BaseResultMap" type="com.qf.bean.Shoppes">
    <id column="shopid" jdbcType="INTEGER" property="shopid" />
    <result column="shopname" jdbcType="VARCHAR" property="shopname" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="typeid" jdbcType="INTEGER" property="typeid" />
    <result column="shopnum" jdbcType="INTEGER" property="shopnum" />
    <result column="shopsales" jdbcType="INTEGER" property="shopsales" />
    <result column="oldprice" jdbcType="DOUBLE" property="oldprice" />
    <result column="newprice" jdbcType="DOUBLE" property="newprice" />
    <result column="shopimage" jdbcType="VARCHAR" property="shopimage" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="shopstatus" jdbcType="INTEGER" property="shopstatus" />
    <result column="emoney" jdbcType="INTEGER" property="emoney" />
    <result column="petbodily" jdbcType="VARCHAR" property="petbodily" />
    <result column="woollength" jdbcType="VARCHAR" property="woollength" />
    <result column="pettype" jdbcType="VARCHAR" property="pettype" />
    <result column="petcolor" jdbcType="VARCHAR" property="petcolor" />
    <result column="petblood" jdbcType="INTEGER" property="petblood" />
    <result column="petclean" jdbcType="INTEGER" property="petclean" />
    <result column="petvideo" jdbcType="INTEGER" property="petvideo" />
    <result column="recipe" jdbcType="VARCHAR" property="recipe" />
    <result column="suitableage" jdbcType="INTEGER" property="suitableage" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="putawaytime" jdbcType="TIMESTAMP" property="putawaytime" />
  </resultMap>
  <sql id="Base_Column_List">
    shopid, shopname, type, typeid, shopnum, shopsales, oldprice, newprice, shopimage, 
    content, shopstatus, emoney, petbodily, woollength, pettype, petcolor, petblood, 
    petclean, petvideo, recipe, suitableage, createtime, putawaytime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shoppes
    where shopid = #{shopid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shoppes
    where shopid = #{shopid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qf.bean.Shoppes">
    insert into shoppes (shopid, shopname, type, 
      typeid, shopnum, shopsales, 
      oldprice, newprice, shopimage, 
      content, shopstatus, emoney, 
      petbodily, woollength, pettype, 
      petcolor, petblood, petclean, 
      petvideo, recipe, suitableage, 
      createtime, putawaytime)
    values (#{shopid,jdbcType=INTEGER}, #{shopname,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{typeid,jdbcType=INTEGER}, #{shopnum,jdbcType=INTEGER}, #{shopsales,jdbcType=INTEGER}, 
      #{oldprice,jdbcType=DOUBLE}, #{newprice,jdbcType=DOUBLE}, #{shopimage,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{shopstatus,jdbcType=INTEGER}, #{emoney,jdbcType=INTEGER}, 
      #{petbodily,jdbcType=VARCHAR}, #{woollength,jdbcType=VARCHAR}, #{pettype,jdbcType=VARCHAR}, 
      #{petcolor,jdbcType=VARCHAR}, #{petblood,jdbcType=INTEGER}, #{petclean,jdbcType=INTEGER}, 
      #{petvideo,jdbcType=INTEGER}, #{recipe,jdbcType=VARCHAR}, #{suitableage,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{putawaytime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.bean.Shoppes">
    insert into shoppes
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopid != null">
        shopid,
      </if>
      <if test="shopname != null">
        shopname,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="typeid != null">
        typeid,
      </if>
      <if test="shopnum != null">
        shopnum,
      </if>
      <if test="shopsales != null">
        shopsales,
      </if>
      <if test="oldprice != null">
        oldprice,
      </if>
      <if test="newprice != null">
        newprice,
      </if>
      <if test="shopimage != null">
        shopimage,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="shopstatus != null">
        shopstatus,
      </if>
      <if test="emoney != null">
        emoney,
      </if>
      <if test="petbodily != null">
        petbodily,
      </if>
      <if test="woollength != null">
        woollength,
      </if>
      <if test="pettype != null">
        pettype,
      </if>
      <if test="petcolor != null">
        petcolor,
      </if>
      <if test="petblood != null">
        petblood,
      </if>
      <if test="petclean != null">
        petclean,
      </if>
      <if test="petvideo != null">
        petvideo,
      </if>
      <if test="recipe != null">
        recipe,
      </if>
      <if test="suitableage != null">
        suitableage,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="putawaytime != null">
        putawaytime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopid != null">
        #{shopid,jdbcType=INTEGER},
      </if>
      <if test="shopname != null">
        #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="typeid != null">
        #{typeid,jdbcType=INTEGER},
      </if>
      <if test="shopnum != null">
        #{shopnum,jdbcType=INTEGER},
      </if>
      <if test="shopsales != null">
        #{shopsales,jdbcType=INTEGER},
      </if>
      <if test="oldprice != null">
        #{oldprice,jdbcType=DOUBLE},
      </if>
      <if test="newprice != null">
        #{newprice,jdbcType=DOUBLE},
      </if>
      <if test="shopimage != null">
        #{shopimage,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="shopstatus != null">
        #{shopstatus,jdbcType=INTEGER},
      </if>
      <if test="emoney != null">
        #{emoney,jdbcType=INTEGER},
      </if>
      <if test="petbodily != null">
        #{petbodily,jdbcType=VARCHAR},
      </if>
      <if test="woollength != null">
        #{woollength,jdbcType=VARCHAR},
      </if>
      <if test="pettype != null">
        #{pettype,jdbcType=VARCHAR},
      </if>
      <if test="petcolor != null">
        #{petcolor,jdbcType=VARCHAR},
      </if>
      <if test="petblood != null">
        #{petblood,jdbcType=INTEGER},
      </if>
      <if test="petclean != null">
        #{petclean,jdbcType=INTEGER},
      </if>
      <if test="petvideo != null">
        #{petvideo,jdbcType=INTEGER},
      </if>
      <if test="recipe != null">
        #{recipe,jdbcType=VARCHAR},
      </if>
      <if test="suitableage != null">
        #{suitableage,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="putawaytime != null">
        #{putawaytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.bean.Shoppes">
    update shoppes
    <set>
      <if test="shopname != null">
        shopname = #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="typeid != null">
        typeid = #{typeid,jdbcType=INTEGER},
      </if>
      <if test="shopnum != null">
        shopnum = #{shopnum,jdbcType=INTEGER},
      </if>
      <if test="shopsales != null">
        shopsales = #{shopsales,jdbcType=INTEGER},
      </if>
      <if test="oldprice != null">
        oldprice = #{oldprice,jdbcType=DOUBLE},
      </if>
      <if test="newprice != null">
        newprice = #{newprice,jdbcType=DOUBLE},
      </if>
      <if test="shopimage != null">
        shopimage = #{shopimage,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="shopstatus != null">
        shopstatus = #{shopstatus,jdbcType=INTEGER},
      </if>
      <if test="emoney != null">
        emoney = #{emoney,jdbcType=INTEGER},
      </if>
      <if test="petbodily != null">
        petbodily = #{petbodily,jdbcType=VARCHAR},
      </if>
      <if test="woollength != null">
        woollength = #{woollength,jdbcType=VARCHAR},
      </if>
      <if test="pettype != null">
        pettype = #{pettype,jdbcType=VARCHAR},
      </if>
      <if test="petcolor != null">
        petcolor = #{petcolor,jdbcType=VARCHAR},
      </if>
      <if test="petblood != null">
        petblood = #{petblood,jdbcType=INTEGER},
      </if>
      <if test="petclean != null">
        petclean = #{petclean,jdbcType=INTEGER},
      </if>
      <if test="petvideo != null">
        petvideo = #{petvideo,jdbcType=INTEGER},
      </if>
      <if test="recipe != null">
        recipe = #{recipe,jdbcType=VARCHAR},
      </if>
      <if test="suitableage != null">
        suitableage = #{suitableage,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="putawaytime != null">
        putawaytime = #{putawaytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where shopid = #{shopid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.bean.Shoppes">
    update shoppes
    set shopname = #{shopname,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      typeid = #{typeid,jdbcType=INTEGER},
      shopnum = #{shopnum,jdbcType=INTEGER},
      shopsales = #{shopsales,jdbcType=INTEGER},
      oldprice = #{oldprice,jdbcType=DOUBLE},
      newprice = #{newprice,jdbcType=DOUBLE},
      shopimage = #{shopimage,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      shopstatus = #{shopstatus,jdbcType=INTEGER},
      emoney = #{emoney,jdbcType=INTEGER},
      petbodily = #{petbodily,jdbcType=VARCHAR},
      woollength = #{woollength,jdbcType=VARCHAR},
      pettype = #{pettype,jdbcType=VARCHAR},
      petcolor = #{petcolor,jdbcType=VARCHAR},
      petblood = #{petblood,jdbcType=INTEGER},
      petclean = #{petclean,jdbcType=INTEGER},
      petvideo = #{petvideo,jdbcType=INTEGER},
      recipe = #{recipe,jdbcType=VARCHAR},
      suitableage = #{suitableage,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      putawaytime = #{putawaytime,jdbcType=TIMESTAMP}
    where shopid = #{shopid,jdbcType=INTEGER}
  </update>
</mapper>